body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

#matches,
#booking {
    margin-bottom: 30px;
}

form {
    margin-top: 10px;
}

input[type="number"] {
    width: 50px;
}

#match-list li {
    cursor: pointer;
}

.selected-match {
    background-color: #f2f2f2;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}