body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(./img/premier.png);
  background-size: cover;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 3rem;
  color: white;
  z-index: 1;
}

.navbar img {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-left: 100px;
}

.navbar ul {
  display: flex;
  padding-right: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 10px;
  margin-left: auto;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

  .navbar a:hover {
    color: orangered;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
    
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  margin-top: 80px;
}

.match-list {
  flex: 1 0 60%;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  align-items: stretch;
}

.match-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  gap: 4rem;
}

.match-card img {
  width: 50px;
  height: 50px;
  object-fit: content;
}

.match-card h2 {
  margin: 0 10px;
  font-size: 16px;
}

.match-details {
  flex: 1 0 20%;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: stretch;
}

.match-details h2 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.match-details p {
  font-size: 14px;
  margin-bottom: 20px;
}

.match-details .ticket-count {
  margin-bottom: 10px;
}

.match-details .buy-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.match-details .buy-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.homecontainer {
  text-align: center;
  margin-top: 180px;
  background-color: transparent;
  padding: 20px;
}

.homecontainer h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.homecontainer p {
  font-size: 18px;
  margin-bottom: 20px;
}

.homebuttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.homebuttons a {
  text-decoration: none;
  margin: 0 10px;
}

.homebuttons button {
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.homebuttons button:hover {
  background-color: darkorange;
}

.aboutcontainer {
  text-align: center;
  margin-top: 180px;
  background-color: transparent;
  padding: 20px;
}

.aboutcontainer h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.aboutcontainer p {
  font-size: 18px;
  margin-bottom: 20px;
}

.aboutcontainer ul {
  text-align: left;
  margin-left: 40px;
  margin-bottom: 20px;
}

.aboutcontainer ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.aboutbuttons {
  margin-top: 20px;
}

.aboutbuttons a {
  text-decoration: none;
}

.aboutbuttons button {
  background-color: orange;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.aboutbuttons button:hover {
  background-color: darkorange;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
  color: white;
  z-index: 1;
}

footer p {
  margin: 0;
  font-size: 14px;
}

.social-media,
.app-stores {
  display: flex;
  align-items: center;
}

.social-media p,
.app-stores p {
  margin: 0 10px;
}

.social-media a,
.app-stores a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  transition: transform 0.3s ease-in-out;
}

.social-media a:hover,
.app-stores a:hover {
  transform: scale(1.1) rotate(-3deg);
}

.app-stores {
  margin-left: auto;
}

.app-stores i {
  font-size: 28px;
}
